@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.logo {
  width: 100px;
  height: 100px;
}
#mage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
header {
  width: 100%;
  background-color: White;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.collection {
  color: rgb(160, 123, 0);
}
#top {
  outline: none;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cart-toggle {
  outline: none;
  border: none;
  background-color: #000;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
#top:hover {
  background-color: green;
  color: white;
}
.card-btn {
  background-color: rgb(153, 153, 153);
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  padding: 10px 0;
  gap: 10px;
}
.customized {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.custom-shirt {
  margin-top: 10px;
  color: white;
  font-size: 1rem;
}
.card {
  display: flex;
  flex: 0 1 20%;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.card-9 {
  display: none;
}
.inner-card {
  flex: 0 1 20%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-card {
  flex: 0 1 100%;
  height: auto;
  padding: 20px 10px;
}
.shirt-1 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.italic {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  display: -webkit-box;
}
.description {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
  font-size: 12px;
  display: -webkit-box;
}
.price {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
#d1 {
  text-decoration: none;
  background-color: rgb(0, 17, 255);
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
}
.size-select {
  outline: none;
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: rgb(218, 215, 215);
}
.size-select:focus {
  border-color: #000;
}
.add-btn {
  text-decoration: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  padding: 5px 5px;
  outline: none;
  border: none;
}
#d1:hover {
  background-color: green;
}
img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
body {
  background-color: rgb(255, 255, 255);
}
.video,
.video-1 {
  display: none;
}
.plain-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px 0;
}
.plain,
.plain-tee {
  flex: 0 1 45%;
  min-height: 400px;
  background-color: white;
}
.arrange {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ray {
  width: 300px;
  display: flex;
  align-items: center;
}
#cartBubble {
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  color: #000;
}
.checkout-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #000;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  color: white;
}
.checkout-btn:hover {
  background-color: green;
}
#stateSelect {
  width: 100%;
  background-color: rgb(218, 215, 215);
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
#lgaSelect {
  width: 100%;
  background-color: rgb(218, 215, 215);
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
#streetAddress {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(218, 215, 215);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
#customerName,
#customerPhone,
#email {
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(218, 215, 215);
  padding: 10px;
  border-radius: 10px;
}
#full {
  padding-top: 10px;
}
#absolute {
  position: fixed;
  top: 400px;
  left: 10px;
  text-decoration: none;
  color: green;
}
#whatsapp {
  font-size: 2rem;
  color: green;
}
#prevBtn,
#nextBtn,
#pageInfo,
#prevBut,
#nextBut,
#pageInf {
  display: none;
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex: 0 1 80%;
    min-height: 400px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    gap: 10px;
  }
  .video,
  .video-1 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 400px;
    padding: 0 37px;
    background-color: rgb(153, 153, 153);
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .plain-card {
    gap: 10px;
  }
  .plain,
  .plain-tee {
    flex: 0 1 80%;
    min-height: 400px;
    background-color: white;
  }
  #prevBtn,
  #nextBtn,
  #pageInfo {
    display: flex;
  }
}
